configuration {
 modi: "window,drun,combi";
 combi-modi: "window,drun";
 show-icons: true;
 display-drun: "";
 display-run: "";
 display-window: " ";
}

@theme "~/.local/share/rofi/themes/catppuccin-mocha.rasi"
